* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  place-content: center;
}
.logo {
  width: 50px;
  height: 40px;
  padding: 0 10px 0 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
  border: none;
  box-shadow: 1px 1px 6px;
  border-radius: 10px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  color: #2590e9;
}
.textbox-container {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  .textbox {
    display: flex;
    align-items: center;
    place-content: center;
    height: 40px;
    width: 300px;
    border: #000 1px solid;
    border-radius: 50px;
    input {
      border: none;
      outline: none;
      width: 80%;
      height: 100%;
      padding: 5px;
    }
  }
  button {
    height: 40px;
    width: 70px;
    border: none;
    color: #fff;
    background: #2590e9;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
  }
}
.list-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
  ul li {
    width: 100%;
    position: relative;
    padding: 5px 100px 5px 100px;
    list-style: none;
    user-select: none;
    cursor: pointer;
  }
  ul li::before {
    content: "";
    position: absolute;
    background-image: url(/image/square.png);
    background-position: center;
    background-size: cover;
    height: 28px;
    width: 28px;
    left: 40px;
    top: 3px;
  }
  ul li.checked {
    text-decoration: line-through;
  }
  ul li.checked::before {
    background-image: url(/image/check-box.png);
    background-position: center;
    background-size: cover;
  }
  ul li span {
    position: absolute;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    font-size: 22px;
    right: 5px;
    top: 3px;
  }
  ul li span:hover {
    background: #5697e6;
    color: #fff;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  .list-container {
    width: 100%;
    height: 100%;

    padding: 20px;
  }
  ul li::before {
    content: "";
    position: absolute;
    background-image: url(/image/square.png);
    background-position: center;
    background-size: cover;
    height: 28px;
    width: 28px;
    left: 0px;
    top: 3px;
  }
}
